*{
	font-family: $fontMain;
}

body{
	background-color: $primary-color;
}

h5{
	color: white;

}

p{
	font-size: 0.8rem;
}

#side-nav{
	background: $fourth-color;
}

.btn{
	font-size: 1rem;
	
}

.navbar-custom {
	
    background-color: $primary-color;
	a {
		color: #E8E8E8;
	}
	a:hover{
		color: #C8C8C8;
	}
}

.contenedor-main{
	height:auto;
	background-color: $primary-color;
	padding:0;
	p{
		text-align: left;
	}

}
	

.col{
	color: $third-color;
}

.cartitas{
	height:auto;
}

.card{
	background-color: $fourth-color;
	padding:0;
	height:auto;
}

.btn{
	border-radius: 10px;
}

.btn-primary{
	background: $primary-color;
	border: none;
	outline:none;
	&:hover{
		background: $fifth-color;
		border: solid black 1px;
		outline:none;
		border: none;
	}
	&:active{
		background: $third-color;
		border: solid black 1px;
		outline:none !important;
		border: none;
	}
	&:focus{
		background: $third-color;
		border: solid black 1px;
		outline:none !important;
		border: none;
	}
}

footer{
	color: $third-color;
	font-size: 10px;
}



.btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none;
 }

