@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

*{
	font-family: $fontMain;
}

html {
	font-size: 1rem;
  }

body{
	background-color: $primary-color;
}

h5{
	color: white;

}

h4{
	font-size: 1rem;
	color: $primary-color;
	line-height: 25px;

}

p{
	font-size: 0.8rem;
}

#side-nav{
	background: $fourth-color;
}

.btn{
	font-size: 1rem;
	
}

.navbar-custom {
	
    background-color: $primary-color;
	a {
		color: $secondary-color;
		outline:none;
	}
	a:hover{
		color: $third-color;
		outline:none;
	}
	a:active, a:focus{
		color: $fifth-color;
		outline:none;
	}
}

.sidebar-custom {
	
    background-color: $third-color;
	a {
		color: $fourth-color;
		outline:none;
	}
	a:hover{
		color: $fifth-color;
		outline:none;
	}
	a:active, a:focus{
		color: $fifth-color;
		outline:none;
	}
}

.contenedor-main{
	height:auto;
	background-color: $primary-color;
	padding:0;
	p{
		text-align: left;
	}

}

.offcanvas-title{
	justify-content: center;
}


.cartitas{
	height:auto;
}

.card{
	background-color: $fourth-color;
	padding:0;
	height:auto;
}

.card:hover{
	// transform: scale(1.05);
 	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	 animation: cardsR 0.2s linear 1 normal forwards;
}

@keyframes cardsR {
	from{transform: scale(1.0);}

	to{transform: scale(1.05)} 

}

// .btn{
// 	&:hover, :active, :focus{
// 		background-color: $secondary-color;
// 	}


// }

.btn{
	padding: 12px 16px;
	border-radius: 5px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;

}

.btn:active, .btn:focus{
	background-color: $primary-color;
    border-color: $primary-color;
	cursor: pointer;
}

.btn-primary{
	background: $primary-color;
	border: none;
	outline:none;
	&:hover, :active, :focus{
		background: $fifth-color;
		border: solid black 1px;
		outline:none;
		border: none;
		color: $primary-color;
	}

}

.footer{
	color: $secondary-color;
	font-size: 10px;
	
}



.btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none;
 }

.form-label{
	color: $secondary-color;
}

form{
	outline:none;
	&:hover, :active, :focus{
		outline:none;
	}
}

img{
	padding:0.2vw !important;
}

.btn-outline-primary {
    color: $third-color;
    border-color: $third-color;
	&:hover, :active, :focus{
		color: $fifth-color;
		border-color: $third-color;
		background-color: $fourth-color;
	}
}

.contacto{
	background-color: $primary-color;
}

.col-mixes{
	background-color: $secondary-color;
}

// .img-mix{
// 	height:300px;
// }

.infotxt{
	font-size: 3rem;
	color: $fifth-color;
	line-height: 4rem;
	padding: 10px; 
	a{
		color: $secondary-color;
		&:hover{
			color: $fifth-color;
		}
	}
	span{	
		color: $fourth-color;
	}
	@include media-breakpoint-up(xl){
		font-size:10rem;
		line-height: 13rem;
	}
}

.episodio{
	color: $secondary-color;
}


.marquee{
	background-color: $secondary-color;
	color:$primary-color;
	width:100%;
	padding: 5px 5px;
	text-align:center;
	overflow: hidden;
	h3{
		font-size: 0.75rem;
		font-weight: 500;
		text-transform:uppercase;
		.marquee-title{
			margin-right:20px;
			float:left;
		}
	}
}

.marquee-wrapper{
	width:100000px;
	animation: marqueeAnimation 200s linear 0s infinite running;
}

.text-stroke-black{
	color:transparent;
	-webkit-text-stroke: 1px;
	-webkit-text-stroke-color: black;

}

@keyframes marqueeAnimation {
	100% {
		transform: translateX(-4600px);
	}
}

.loguito{
	animation: rotacion 5s linear infinite alternate;
}


@keyframes rotacion {
	from{transform: rotateY(0deg);}

	to{transform: rotateY(360deg)} 
}

.offcanvas{
	--bs-offcanvas-width: 250px;
}

.infoBlock{
	background: $secondary-color;
	border-radius: 10px;
}

input[type="text"], input[type="email"], textarea {
	background-color : $third-color; 
  }

.contactForm{
	border: 1px solid black;
  }

.newsletter{

}

.fotoNewsletter{

}