*{
	font-family: $fontMain;
}

body{
	background-color: $primary-color;
}

h5{
	color: white;

}

h4{
	font-size: 1rem;
	color: $primary-color;
	line-height: 25px;

}

p{
	font-size: 0.8rem;
}

#side-nav{
	background: $fourth-color;
}

.btn{
	font-size: 1rem;
	
}

.navbar-custom {
	
    background-color: $primary-color;
	a {
		color: $secondary-color;
		outline:none;
	}
	a:hover{
		color: $secondary-color;
		outline:none;
	}
	a:active, a:focus{
		color: $secondary-color;
		outline:none;
	}
}

.contenedor-main{
	height:auto;
	background-color: $primary-color;
	padding:0;
	p{
		text-align: left;
	}

}
	

.col{
	color: $third-color;
}

.cartitas{
	height:auto;
}

.card{
	background-color: $fourth-color;
	padding:0;
	height:auto;
}

.btn{
	border-radius: 10px;
}

.btn-primary{
	background: $primary-color;
	border: none;
	outline:none;
	&:hover, :active, :focus{
		background: $fifth-color;
		border: solid black 1px;
		outline:none;
		border: none;
		color: $primary-color;
	}

}

footer{
	color: $third-color;
	font-size: 10px;
	
}



.btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none;
 }

.form-label{
	color: $secondary-color;
}

form{
	outline:none;
	&:hover, :active, :focus{
		outline:none;
	}
}

img{
	padding:0.2vw !important;
}

.btn-outline-primary {
    color: $third-color;
    border-color: $third-color;
	&:hover, :active, :focus{
		color: $fifth-color;
		border-color: $third-color;
		background-color: $fourth-color;
	}
}

.contacto{
	background-color: $primary-color;
}

.col-mixes{
	background-color: $secondary-color;
}

// .img-mix{
// 	height:300px;
// }

.infotxt{
	font-size: 11rem;
	color: $fifth-color;
	line-height: 13rem;
	padding: 10px; 
	a{
		color: $fifth-color;
	}
	span{
		color: $fourth-color;
	}
}
