//mixins
@mixin texto($size,$line-height,$color){
	font-size: $size;
	line-height: $line-height;
	color:$color;
	padding: 4px;
}

@mixin d-flex($justify,$align){
	display: flex;
	justify-content: $justify;
	align-items:$align
}

@mixin d-flex-column(){
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}

.box2{
	@include d-flex-column();
}

@mixin text-align($align){
	@if $align == center {text-align:center}
	@else if $align == left {text-align:left}
	@else if $align == right {text-align:right}
}

p{
	@include text-align(right);
}

//maps

$paleta:(
	'primary': #2C2C2C,
    'secondary': #A2A2A2,
    'third':#C8C8C8,
    'fourth':#4F4F4F,
	'fifth': #E8E8E8
	);

	

