//mixins

@mixin col-center(){
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@mixin txt($size,$line-height,$secondary-color){
	font-size: $size;
	line-height: $line-height;
	color:$secondary-color;
}

@mixin text-align($align){
	@if $align == center {text-align:center}
	@else if $align == left {text-align:left}
	@else if $align == right {text-align:right}
}

//maps

$paleta:(
	'primary': #2C2C2C,
    'secondary': #A2A2A2,
    'third':#C8C8C8,
    'fourth':#4F4F4F,
	'fifth': #E8E8E8
	);

	

